<div align="center" class="container">
  <input type="hidden" id="secondary_user_id" value="<%= @chat_with_user.id %>">
  <h1 class="title">Bate Papo com <%= @chat_with_user.name %></h1>
<div data-chat-room-user-id="<%= @user %>">
  <div id="messages">

  <% @messages.each do |m| %>
   <div class="message">
    <p>
      <%= m.user.name %>:
      <%= m.content %>
      <%if current_user == m.user || current_user.admin%>
      <%= link_to 'Remover', message_path(m), method: :delete %>
      <% end %>
      </p>
   </div>
  <%end%>
  </div>
  <form>
    <input type="text" data-behavior="chat_speaker" placeholder=" Diga alguma coisa :) ">
  </form>
</div>
</div>
