<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyChat</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
   
    
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="current-user" id="<%= @current_user.try(:id) %>">
  </head>

  <body>
      <div>
       id: <%= current_user.id if user_signed_in? %>
       Olá <%= current_user.name if user_signed_in?%>
      </div>
       <%= link_to('Home', root_path) if user_signed_in?%>
       <%= link_to('Lista de usuários', users_path) if user_signed_in?%>
       <%= link_to('Logout', destroy_user_session_path, method:'delete', class: 'nav-link') if user_signed_in?%>
       <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>

    <%= yield %>
  </body>
</html>
